<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn</title>
</head>
<body>
    <a href="{% url 'user_index' %}">home</a>
    <table width="500" border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>todo</th>
        </tr>
        {% for vo in list %}
        <tr>
            <td>{{ vo.id }}</td>
            <td>{{ vo.name }}</td>
            <td><a href="{% url 'user_del' vo.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>